body {
  margin-bottom: 0px;
  background-color: #871c00;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 0;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
}
h2 {
  display: inline-block;
  margin: 0;
  padding: 0 0 3px 0px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
	color: #008e00;
}
h3 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}
h4 {
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  border-width: 1px;
  border-color: black;
  box-shadow: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: none;
}
h5 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 15px;
  font-size: 15px;
}
.button {
  display: inline-block;
  padding: 12px 31px;
  border-radius: 5px;
  background-color: black;
  background-image: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #008cff;
}
.section {
  padding-bottom: 43px;
  background-color: transparent;
}
.section.header {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding-bottom: 5px;
  background-image: none;
}
.section.grey {
  background-color: #f2f2f2;
}
.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Arial, sans-serif;
  color: #008e00;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
}
.nav-link:hover {
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #008f00;
}
.nav-link.sign-up {
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link.sign-up:hover {
  background-color: #0076d6;
}
.nav-link.last {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.company-title {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #008e00;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
}
.nav-bar {
  position: static;
  display: block;
  margin-top: 120px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}
.hero-bg {
  width: auto;
  padding-top: 5px;
  padding-bottom: 30px;
  background-image: url('../images/beer-bg.jpg');
  background-position: 0px 100%;
  background-repeat: repeat-x;
  background-attachment: scroll;
}
.subtitle {
  margin: 18px auto 18px;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  font-family:'Helvetica Neue';
  color: rgba(0, 0, 0, 0.56);
  font-size: 16px;
  font-weight: 400;
}
.section-description {
  font-size: 14px;
}
.coaster-hover {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  opacity: 1;
  color: black;
  text-decoration: none;
}
.coaster-hover:hover {
  opacity: 1;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.right-col {
  padding-top: 13px;
  text-align: right;
}
.more-link {
  padding: 6px 8px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #9c9c9c;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.more-link:hover {
  border: 1px solid #008cff;
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
}
.snippet-text-section {
  padding: 10px 12px;
}
.snippet-title {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
}
.snippet-text {
  color: #737373;
  font-size: 14px;
  line-height: 19px;
}
.snippet-row {
  margin-top: 27px;
  margin-bottom: 27px;
}
.button-column {
  padding-top: 32px;
  text-align: center;
}
.img-example {
  margin-bottom: 34px;
}
.footer-link, .footer-link:hover {
  margin-right: 9px;
  margin-left: 9px;
  color: white;
  text-decoration: none;
}


.footer-nav-bar {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.footer-text {
  font-size: 12px;
  text-align: right;
  color: #ccc;
}
.content-bg {
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: lightgrey;
  background-image: url('../images/example-bg.png');
  background-attachment: fixed;
}
.content-bg.two {
  background-image: url('../images/example-bg.png');
}
.coaster-image {
/*  width: 100%;*/
  margin-bottom: 15px;
  opacity: 1;
}
.home-coaster {
  padding-left: 0.6em;
}
.home-coaster li{
  list-style-type: none;
}
.green-bar {
  width: auto;
  height: 10px;
  border-top: 5px none #008e00;
  border-bottom: 5px none #008e00;
  background-color: #008e00;
}
.beer-bubble {
  background-image: url('../images/beer-bubble.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.language-switch {
  padding-right: 10px;
  padding-left: 10px;
}
.language {
  padding-top: 5px;
  background-color: white;
  text-align: right;
  font-size: 14px;
}
.content-container {
  background-color: white;
}
.brewery-dropdown {
  width: 200px;
  float: right;
  text-align: left;
}
.brewery-white-bg{
  border: 1px solid rgba(60,60,60,0.3);
  padding: 18px;
  background: rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.1);
box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.1);
}
.btn{
  border-bottom: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 8px 15px;
}
.dropdown-menu li{
	border-bottom: 1px solid #e5e5e5;
}
.dropdown-menu li:last-child{
	border-bottom: none;
}
.dropdown-menu li a{
	padding: 6px 20px 6px 20px;
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.5;
    vertical-align: middle;
    width: 0;
}
.logo, .photos{
	text-align: center;
	
}
.small-jp{
	font-size: 9px;
	line-height: 1em;
}

.beerlist table {
	border-collapse: collapse;
	border: solid 1px #ccc;
	font-size: 13px;
	width: 100%;
	margin-bottom: 10px;
}
.beerlist th {
	padding: 5px;
	border: solid 1px #fff;
	color: #333;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	background-color: #9fd361;
}

.beerlist td {
	padding: 5px;
	border: solid 1px #fff;
	color: #333;
	line-height: 1.2em;
}

.beerlist td:first-child{
	min-width: 10em;
}
.beerlist tr{
	text-align: left;
	font-weight: normal;
}

.beerlist tr:nth-child(even){
	background-color: #f7f7f7 !important;
}
a, a:hover, .green{
	color: #008e00;
}
@media (max-width: 991px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background-repeat: repeat-x;
  }
  .subtitle {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin: 18px 15px 18px;
  }
  .coaster-hover {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .content-bg {
    background-image: url('../images/example-bg.png');
  }
  .content-bg.two {
    background-image: url('../images/example-bg.png');
  }
  .green-bar {
    position: relative;
  }
  .beer-bubble {
    background-position: 50% 100%;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-top: 0;
  }
  h2 {
    margin-top: 0;
  }
  .button {
    margin-bottom: 33px;
    padding: 29px 30px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 16px;
    font-weight: 700;
  }
  .section.header {
    background-color: transparent;
  }
  .nav-link {
    background-color: transparent;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .company-title {
    margin-bottom: 33px;
  }
  .nav-bar {
    margin-top: 20px;
    text-align: center;
  }
  .hero-bg {
    padding-right: 10px;
    padding-left: 10px;
    background-repeat: repeat-x;
  }
  .subtitle {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin: 18px 15px 18px;
  }
  .coaster-hover {
    width: 60%;
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: auto;
  }
  .right-col {
    margin-top: -42px;
  }
  .button-column {
    padding-top: 61px;
  }
  .company-column {
    text-align: center;
  }
  .footer-nav-bar {
    text-align: center;
  }
  .left-footer-col {
    margin-bottom: 13px;
    text-align: center;
  }
  .footer-text {
    margin-top: 15px;
    text-align: center;
  }
  .content-bg {
    padding-right: 10px;
    padding-left: 10px;
    background-image: url('../images/example-bg.png');
  }
  .beer-bubble {
    background-position: 50% 100%;
  }
  .evergreen-logo {
    width: 80%;
  }
}
@media (max-width: 479px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section.header {
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
  .nav-link {
    display: block;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link.last {
    border-bottom-style: none;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background-image: url('../images/beer-bg.jpg');
    background-position: 0px 100%;
    background-repeat: repeat-x;
  }
  .section-description {
    width: 50%;
  }
  .coaster-hover {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-text {
    text-align: center;
  }
  .content-bg {
    min-height: 330px;
    background-image: url('../images/example-bg.png');
  }
  .beer-bubble {
    background-color: transparent;
    background-position: 50% 100%;
  }
  .evergreen-logo {
    width: 80%;
  }
	.chart-img{
		visibility: collapse;
		height: 0;
	}
}