/*-----------RESPONSIVE-----------*/
@media only screen and (max-width: 480px) {
    .form-textarea,.form-textbox,.form-dropdown {
        width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-label-left, .form-label-right {
        width: auto;
    }

    .form-buttons-wrapper {
        margin-left: 0 !important;
    }

    .form-input {
        width: 100%;
    }

    .form-all {
        width: 98%;
    }

    .form-sub-label-container {
        width: 100%;
        display: block;
    }/*--for the address table--*/    span.form-sub-label-container + span.form-sub-label-container {
        margin-right: 0;
    }

    .form-address-table select,.form-address-state,.form-address-table, .form-address-line,.form-address-table .form-sub-label-container {
        width: 100%;
    }

    .form-address-postal,.form-address-city {
        width: 99%;
    }

    .form-address-table td, .form-address-table th {
        padding-bottom: 10px;
        padding: 0 0 10px 0;
    }
}