<div class="section">
	<div class="w-container">
		<div class="w-row">
			<div class="w-col w-col-8 footer-nav-bar">
				<a class="footer-link" href="#">Why Washington Beer?</a>
				<a class="footer-link" href="#">Who are we?</a>
				<a class="footer-link" href="#">Contact</a>
				<a class="footer-link" href="#">Facebook</a>
			</div>
			<div class="w-col w-col-4 left-footer-col">
				<div class="footer-text">©&nbsp;
					<script type="text/javascript">
						document.write((new Date()).getFullYear());
					</script>Evergreen Imports</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/webflow.js"></script>
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
