<div class="section header">
	<div class="w-container">
		<div class="w-row">
			<div class="w-col w-col-3 company-column">
				{% if page.language == 'en' %}
				<a class="w-inline-block evergreen-logo-link" href="/en">
					{% else %}
					<a class="w-inline-block evergreen-logo-link" href="/">
						{% endif %}
						<img class="evergreen-logo" src="/images/evergreen-logo.png" alt="evergreen-logo.png">
					</a>
				</a>
			</div>
			<div class="w-col w-col-9 nav-bar">
				<a class="nav-link" href="#page-nav-Section 1">Why Washington Beer?</a>
				<a class="nav-link" href="#page-nav-Section-2">Who are we?</a>
				<a class="nav-link" href="/contact">Contact</a>
				<a class="nav-link last" href="https://www.facebook.com/EvergreenImports" target="_blank">Facebook</a>
			</div>
		</div>
	</div>
</div>
