---
layout: default
---

<div class="w-container">
	{{ post.title }}
	<div class="dropdown pull-right">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			Select a brewery
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
			{% if page.language == 'en' %}
			{% for post in site.tags.en %}
			{% if forloop.last %}
			<!-- Hop link hidden -->
			{% else %}
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="{{ post.url }}">{{ post.title }}</a>
			</li>
			{% endif %}
			{% endfor %}
			{% endif %}
			
			{% if page.language == 'jp' %}
			{% for post in site.tags.jp %}
			{% if forloop.last %}
			<!-- Hop link hidden -->
			{% else %}
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="{{ post.url }}">{{ post.title }}</a>
			</li>
			{% endif %}
			{% endfor %}
			{% endif %}
		</ul>
	</div>
</div>

<div class="w-container brewery-white-bg" style="min-height: 600px;">
	<div class="w-row w-clearfix">
		<div class="w-col w-col-4 w-col-push-8 logo">
			<img class="" src="{{ page.logo }}" alt="{{ page.title }} logo" />
		</div>
		<div class="w-col w-col-8 w-col-pull-4">
			<h1>{{ page.title }}</h1>
			<p>{{ page.discription }}</p>
			{% for l in page.links %}
			<p>
				<span class="caret-right"></span>
				<a href="http://{{ l.src }}" target="_blank">{{ l.txt }}</a>
			</p>
			{% endfor %}
			{% if page.download != null %}
			<p>
				<span class="glyphicon glyphicon-download-alt green"></span>
				<a href="{{ page.download }}"> Download Logo and Marketing Images</a>
			</p>
			{% endif %}
		</div>
	</div>
	<div class="w-row w-clearfix">
		<h2 class="w-col">Beer Lineup</h2>
		{% if page.images != null %}
		<div class="w-col w-col-8">
			<div class="beerlist">
				{{ content }}
			</div>
		</div>
		<div class="w-col w-col-4 photos">
			{% for photo in page.images %}
			<img class="" src="{{ photo }}" alt="{{ page.title }} photo" style="border:1px solid #ccc; background: #FFF; padding: 10px; margin-bottom: 10px;　width: 100%;" />
			{% endfor %}
		</div>
		{% else %}
		<div class="w-col">
			<div class="beerlist">
				{{ content }}
			</div>
		</div>
		{% endif %}

	</div>

</div>